.Card {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem 2.5rem;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 10px hsl(180, 29%, 78%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Card:not(:first-child) {
  margin-top: 1rem;
}

.Card.Featured {
  border-left: 4px solid var(--Desaturated-Dark-Cyan);
}

.Details {
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.Detail {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.Title {
  display: flex;
  align-items: baseline;
}

.Name {
  text-transform: capitalize;
  padding: 8px 8px 5px 0;
  color: var(--Desaturated-Dark-Cyan);
  font-weight: var(--Bold-Weight);
}

.Badges {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.Jobe {
  margin: 1rem 0;
  font-weight: var(--Bold-Weight);
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.111s ease-in-out;
}

.Jobe:hover {
  color: var(--Desaturated-Dark-Cyan);
}

.Logo {
  width: 88px;
  height: 88px;
}

.Others {
  color: var(--Dark-Grayish-Cyan);
}

.Others > span {
  margin: 0 7px;
}

.Others > span:first-child {
  margin-left: 0;
}
.Others > span:last-child {
  margin-right: 0;
}

.Belt {
  display: none;
}

.Tabs {
  display: flex;
  align-items: center;
}

@media (max-width: 1185px) {
  .Belt {
    display: block;
    margin: 1rem 0;
    width: 100%;
    height: 2px;
    background-color: hsl(180, 3%, 60%);
  }
}

@media (max-width: 709px) {
  .Details,
  .Belt,
  .Tabs {
    width: 100%;
  }
  .Card {
    padding-bottom: 0;
  }
  .Tabs {
    flex-wrap: wrap;
  }
  .Tabs > * {
    margin-bottom: 1rem;
  }
}

@media (max-width: 654px) {
  .Card {
    margin: 3rem 0;
  }
  .Details {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .Logo {
    width: 55px;
    height: 55px;
    position: absolute;
    top: -60px;
    left: 0;
  }
  .Detail {
    padding-left: 0;
  }
}

@media (max-width: 524px) {
  .Card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .Detail {
    padding-right: 0;
  }

  .Others > span {
    margin: 0 3px;
  }
}
